.fixed-length-hr{
    width: 225px;
}

.card-body a{
    text-decoration: none;
}

.card-body:hover{
    color: rgb(34, 86, 255);
}

#links:hover{
    color: rgb(187, 187, 187);
}

#links{
    color: white;
    text-decoration: none;
}